<div class="container">
    <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th>Id</th>
            <th>Aircrafts</th>
            <th>Design</th>
            <th>Development</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>A350</td>
            <td>true</td> 
            <td>true</td> 
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>A350</td>
            <td>true</td> 
            <td>true</td> 
          </tr>
        </tbody>
      </table>

</div>

