<!-- Login 8 - Bootstrap Brain Component -->
<section class="p-3 p-md-4 p-xl-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xxl-11">
        <div class="card border-light-subtle shadow-sm">
          <div class="row g-0">
            <div class="col-12 col-md-6">
              <img
                class="img-fluid rounded-start w-100 h-100 object-fit-cover"
                loading="lazy"
                src="https://i.ytimg.com/vi/8w78wgWNZ5I/maxresdefault.jpg"
                alt="Welcome back you've been missed!"
              />
            </div>
            <div
              class="col-12 col-md-6 d-flex align-items-center justify-content-center"
            >
              <div class="col-12 col-lg-11 col-xl-10">
                <div class="card-body p-3 p-md-4 p-xl-5">
                  <div class="row">
                    <div class="col-12">
                      <div class="mb-5">
                        <h4 class="text-center">Bienvenue !</h4>
                      </div>
                    </div>
                  </div>

                  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
                    <div class="row gy-3 overflow-hidden">
                      <div class="col-12">
                        <div class="form-floating mb-3">
                          <input
                            type="email"
                            formControlName="email"
                            class="form-control"
                            placeholder="Entrez l'email"
                            required
                          />
                          <label for="email" class="form-label">Email</label>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-floating mb-3">
                          <input
                            type="password"
                            formControlName="password"
                            class="form-control"
                            placeholder="Entrez le mot de passe"
                            required
                          />
                          <label for="password" class="form-label"
                            >Password</label
                          >
                        </div>
                      </div>
                      <div class="col-12"></div>
                      <div class="col-12">
                        <div class="d-grid">
                          <button class="btn btn-dark btn-lg" type="submit">
                            Se connecter
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                  <div class="row"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
