<div class="container" *ngIf="parts$ | async as state" [ngSwitch]="state.dataState">

    <div *ngSwitchCase="partsStateEnum.INITIAL">
      <div class="p-2">Initial State</div>
    </div>
  
    <div *ngSwitchCase="partsStateEnum.LOADING">
      <div class="p-2">Loading...</div>
    </div>

    <div *ngSwitchCase="partsStateEnum.LOADED">
      <div class="p-2">Data Loaded</div>
    </div>
  </div>
  
  <div>
    <div class="col-md-5">
      <h2>Liste des pièces</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let part of parts$">
            <td>{{ part.id }}</td>
            <td>{{ part.name }}</td>
            <td>{{ part.category }}</td>
            <td>{{ part.price }}</td>
            <td>
              <button type="button" class="btn btn-outline-secondary">Add</button>
              <button type="button" class="btn btn-outline-secondary">Rem</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
